h2.section__title About
p.section__paragraph.
  I am a Computer Science student at Aberystwyth University, currently on my final year. I spent the previous year on a placement working as a web developer for <a href="http://www.bbc.co.uk/news">BBC News</a> in London.
p.section__paragraph.
  I am a foolish dreamer in love with code, video games and good coffee.
p.section__paragraph.
  This site was built by hand, from scratch, not only as a way to showcase some of the work I've done, but also as a learning exercise, allowing me to play and experiment, and practice my front-end development skills.
p.section__paragraph.
  The only external front-end libraries it uses are <a href="https://jquery.com/">jQuery</a> and <a href="https://necolas.github.io/normalize.css/">normalize.css</a>. To help me build it, I used the <a href="https://pugjs.org/">pug</a> template language, <a href="http://sass-lang.com/">Sass</a> to style it, and <a href="https://babeljs.io/">Babel</a> to transpile ES2015+ to ES5. The source for this site can be found on <a href="https://github.com/punit-shah/punit-shah.github.io">GitHub</a>.
