nav.navbar
  .container
    header.navbar__header
      .navbar__brand
        a.logo.dark-to-light(href='#') :P
      button.navbar__toggler.dark-to-light(aria-expanded='false') &equiv;
    nav.navbar__nav
      -
        const navbarLinks = [
          {
            href: '#work',
            label: 'work'
          }, {
            href: '#about',
            label: 'about'
          }, {
            href: '#contact',
            label: 'contact'
          },
        ];
      ul.navbar__list
        each item in navbarLinks
          li.navbar__item
            a.navbar__link(href=item.href)= item.label
