h2.section__title Work

.work-row
  .work-item
    .work-item__title Title 1
    .work-item__description Description 1
  .work-item
    .work-item__title Title 2
    .work-item__description Description 2

.work-row
  .work-item
    .work-item__title Title 1
    .work-item__description Description 1
  .work-item
    .work-item__title Title 2
    .work-item__description Description 2
  .work-item
    .work-item__title Title 3
    .work-item__description Description 3

.work-row
  .work-item
    .work-item__title Title 1
    .work-item__description Description 1
  .work-item
    .work-item__title Title 2
    .work-item__description Description 2
