h2.section__title Work

.work-item(style='background-image: url(img/graphics.png)')
  a.work-item__title(target='_blank' href='http://punit-shah.github.io/cs32310_assignment')
    span Advanced Computer Graphics assignment
  .work-item__description
    p.
      Final year university assignment. Uses WebGL with three.js to build a set of rooms that can be navigated by the user, demonstrating computer graphics
      techniques learned in the module.
    p
      a.work-item__link.work-item__link--project(target='_blank' href='https://punit-shah.github.io/cs32310_assignment').
        View project
    p
      a.work-item__link.work-item__link--report(target='_blank' href='https://punit-shah.github.io/cs32310_assignment/cs32310%20report.pdf').
        Read assignment report
    p
      a.work-item__link.work-item__link--src(target='_blank' href='https://github.com/punit-shah/cs32310_assignment').
        View source

.work-item(style='background-image: url(img/musical-twin-towns.png)')
  a.work-item__title(target='_blank' href='http://www.bbc.co.uk/news/resources/idt-446211a5-003b-45e3-9211-cdc7d75c5407')
    span Musical twin towns
  .work-item__description
    p.
      Interactive feature for the BBC that uses data from Shazam to display your city's top tracks and match it to another distant city with similar taste
      in music.
    p
      a.work-item__link.work-item__link--project(target='_blank' href='http://www.bbc.co.uk/news/resources/idt-446211a5-003b-45e3-9211-cdc7d75c5407').
        View project

.work-item(style='background-image: url(img/climate-change.png)')
  a.work-item__title(target='_blank' href='http://www.bbc.co.uk/news/resources/idt-5aceb360-8bc3-4741-99f0-2e4f76ca02bb')
    span Six graphics that explain climate change
  .work-item__description
    p.
      Feature for the BBC released during 2015's UN Climate Change Conference that uses interactive graphics and data visualisations to explain how and why
      the Earth's climate is changing.
    p
      a.work-item__link.work-item__link--project(target='_blank' href='http://www.bbc.co.uk/news/resources/idt-5aceb360-8bc3-4741-99f0-2e4f76ca02bb').
        View project

.work-item(style='background-image: url(img/life-death-syria.png)')
  a.work-item__title(target='_blank' href='http://www.bbc.co.uk/news/resources/idt-841ebc3a-1be9-493b-8800-2c04890e8fc9')
    span Life and death in Syria
  .work-item__description
    p.
      Feature for the BBC released 5 years after the war in Syria started that uses interactive data visualisations to portray the results of the war.
    p
      a.work-item__link.work-item__link--project(target='_blank' href='http://www.bbc.co.uk/news/resources/idt-841ebc3a-1be9-493b-8800-2c04890e8fc9').
        View project

.work-item(style='background-image: url(img/labour-leadership-map.png)')
  a.work-item__title(target='_blank' href='http://www.bbc.co.uk/news/uk-politics-34172723')
    span Which Labour-leadership candidate won Google search battle?
  .work-item__description
    p.
      Interactive map for the BBC showing the most searched-for candidate by constituency before 2015's Labour leadership election.
    p
      a.work-item__link.work-item__link--project(target='_blank' href='http://www.bbc.co.uk/news/uk-politics-34172723').
        View project

.work-item(style='background-image: url(img/meteor-defense.png)')
  a.work-item__title(target='_blank' href='http://users.aber.ac.uk/pus1/ftw/meteor-defense/')
    span Meteor Defense
  .work-item__description
    p.
      Second-year university assignment. A game developed from scratch using HTML5's <code>&lt;canvas&gt;</code> and JavaScript.
    p
      a.work-item__link.work-item__link--project(target='_blank' href='http://users.aber.ac.uk/pus1/ftw/meteor-defense/').
        View project

.work-item(style='background-image: url(img/punits-music-box.png)')
  a.work-item__title(target='_blank' href='http://users.aber.ac.uk/pus1/cs25010/')
    span Web Programming assignment
  .work-item__description
    p.
      Second-year university assignment, online music store. Uses PHP to display song data from a database, and allows users to "buy" songs by adding them
      to a basket and checking them out.
    p
      a.work-item__link.work-item__link--project(target='_blank' href='http://users.aber.ac.uk/pus1/cs25010/').
        View project
