extends ./includes/base.pug

block title
  title Punit Shah

block css
  link(rel='stylesheet', href='css/index.css')

block body
  include ./includes/navbar.pug

  section.section.cover#cover
    .container
      include ./includes/cover.pug

  section.section.section--work#work
    .container
      include ./includes/work.pug

  section.section.section--about#about
    .container
      include ./includes/about.pug

  section.section.section--contact#contact
    .container
      include ./includes/contact.pug

block js
  script(src='https://use.fontawesome.com/1a3efc6f66.js')
  script(src='js/index.js')
