@import 'common';

.section {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: table;
  padding: 0.5rem 0;

  &__title {
    margin: 0 0 0.83em;
  }

  > .container {
    display: table-cell;
    vertical-align: middle;
  }
}

@import 'cover';
@import 'work';
@import 'about';
@import 'contact';
